{% extends 'sablona.html' %}

{% block hlavni_obsah %}
<main>
    <h2>Vítejte v Enneraktu!</h2>
    <p>
        Tohle je můj pokus o low magic setting v DnD 5e. Došel jsem k názoru, že největší problémy, které s 5e mám, spočívají za prvé ve spoustě malých pravidlech, zejména co se týče odpočinku. Hmm. To vlastně ani není v rozporu z 5e, to je variantní pravidlo. Gritty realism! Long rest trvá tři dny! Tak tím pádem tu zůstává ta druhá věc. Nazvěme ji rozprcanost světa, ve kterém se kampaně 5e normálně odehrávají. A to ve všech smyslech toho slova.
    </p>
    <p>
        Hlavně to souvisí s fantasy rasama. Štve mě, že existujou půlorkové a půlelfové a že se o nich musíme bavit. A ještě abych vymýšlel, jak to vzniká. Štvou mě mladí elfové, co jsou nejstaršími členy party. Štvou mě postavy, které jsou jen svojí rasou a ničím jiným. A víte co? Ono ani nejde být něčím jiným, pokud máte na krku dračí nebo sloní hlavu. Nebo jde? V Sigilu mě to bavilo. Planescape je super. Ale o tom to je. Pokud chceme hrát divné postavy, pojďme do divného settingu. Já nechci. Nebo aspoň chci mít možnost hrát trochu víc, low magic, realistickej setting.
    </p>
    <p>    
        No, a tak jsem si ho vytvořil. Říkám tomu Ennerakt. To souvisí s magickým systémem... Došel jsem k tomu, že realismus vyžaduje (lórem) omezenou a hlavně divnou magii. Divná magie mi přijde skutečná. Ale jinak jde v tom světě hlavně Prach a Sůl.
    </p>
    <p>
        Takže, co to je? Máme tu svět po apokalypse, co vstává z prachu. Máme tu ranné střelné zbraně plněné prachem a granáty naplněné solí. Divné čaroděje. Děti, hrající si na draky, co chrlí oheň. Máme tu město, kde se uctívají zdi. Máme solnou poušť, kterou jsem náhodou vymyslel asi měsíc, než jsem začal číst Dunu! A hlavně tu máme lidi. A jestli jsem oddvedl dobrou práci, tak jsem lidi udělal zajímavější, než kdy byla jakákoli fantasy rasa.
    </p>
        <p style="font-size: 130%;color: black;font-style: bold;"> No, <a href="/kultury">posuďte sami!</p>

    </p>
</main>
{% endblock %}